/* Entire Document */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Quicksand;
}

.head-font {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
}

/* Header Bar Section */
.navbar-custom-color {
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0);
}

.navbar {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.navbar.scrolled {
  /* NON-IE */
  background: rgba(0, 0, 0, 1);
  transform: translateY(-27px);
}

.navbar-brand {
  padding-left: 35px;
  color: #ffcd32;
  transition: 0.5s;
}

.navbar-brand:hover {
  color: #ffcd32;
  transform: scale(1.03);
  transition-duration: 0.5s;
}

.contact-info {
  font-size: .6rem;
  line-height: .5;
  position: absolute;
  right: 280px;
  text-align: right;
  top: 55px;
}

.contact-info:hover {
  cursor: pointer;
  color: #ffcd32;
}

.contact-btn {
  background-color: #ffcd32;
}

.contact-btn:hover {
  background-color: #000000;
  color: #ffcd32;
}

.navbar-toggler {
  background-color: #000000;
  color: #ffcd32;
}

.navbar-toggler:hover {
  background-color: #ffcd32;
  color: #ffffff;
}

#navbar-menus {
  background-color: #000000;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

.navbar a:hover {
  color: #ffcd32;
}

.nav-item a {
  color: #ffffff;
}

.home-a {
  margin-top: 200px;
}

.contact-a {
  margin-bottom: 200px;
}

/* Home Section */
#home {
  text-align: center;
}

.home-body {
  margin: 400px auto;
}

.home-heading {
  font-size: 3.5rem;
}

.animate-career-heading {
  font-size: 5rem;
}

/* About Section */
#about {
  margin-bottom: 50px;
}

.about-heading {
  font-size: 3.5rem;
}

.about-img {
  padding-top: 90px;
  padding-left: 83px;
}

.btn-lg {
  border-radius: 30px;
  margin-right: 20px;
  float: left;
}

.about-bullet-container {
  text-align: left;
  padding-top: 20px;
}

.about-bullet {
  padding: 40px;
}

/* Works */
#works {
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 100px;
  text-align: center;
}

.works-heading {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.works-img {
  width: 420px;
  height: 420px;
}

/* Team */
#team {
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 100px;
}

.team-heading {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.team-img {
  width: 300px;
  height: 400px;
}

/* Bootstrap's Styles */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* CONTACT FORM PAGE  */
#let{
  background-color: #fff;
  margin-bottom: 20px;
}
.form-control {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}
.block-header {
  color: #fff;
  font-family: 'Montserrat', sans-serif;

}
hr {
  border: 2px solid #FFCD32;
}
p{
  color: #fff;
}
.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  border-radius: 8px;
  margin-bottom: 20px;
  /* Typography */
  color: black;

  /* Visual */
  background-color: #FFCD32;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

.icon {
  width: 75px;
  height: 75px;
}
/* END CONTACT FORM PAGE */

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

