/* Entire Document */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Quicksand;
}

.head-font {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
}

/* Header Bar Section */
.navbar-custom-color {
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0);
}

.navbar {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.navbar.scrolled {
  /* NON-IE */
  background: rgba(0, 0, 0, 1);
  transform: translateY(-27px);
}

.navbar-brand {
  padding-left: 35px;
  color: #ffcd32;
  transition: 0.5s;
}

.navbar-brand:hover{
  transform: scale(1.03);
  transition-duration: 0.5s;
}

.contact-info {
  font-size: .6rem;
  line-height: .5;
  position: absolute;
  right: 280px;
  text-align: right;
  top: 55px;
}

.contact-btn {
  background-color: #ffcd32;
}

.contact-btn:hover {
  background-color: #000000;
  color: #ffcd32;
}

.navbar-toggler {
  background-color: #000000;
  color: #ffcd32;
}

.navbar-toggler:hover {
  background-color: #ffcd32;
  color: #ffffff;
}

#navbar-menus {
  background-color: #000000;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

.nav-item a {
  color: #ffffff;
}

.home-a {
  margin-top: 200px;
}

.contact-a {
  margin-bottom: 200px;
}

/* Home Section */
#home {
  text-align: center;
}

.home-body {
  margin: 450px auto;
}

.home-heading {
  font-size: 3.5rem;
}



/* Animation word rotating */

.animate-career-heading {
  font-size: 5rem;
  display: block;
  position:relative;

}


.animate-career-heading span{
  animation:  fadeEffect 15s linear infinite 0s;
  -ms-animation:   fadeEffect 15s linear infinite 0s;
  -webkit-animation:   fadeEffect 15s linear infinite 0s;
  color: #FFCD32;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  margin-left: -50%;
}

.animate-career-heading span:nth-child(2){
	animation-delay: 3s;
	-ms-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.animate-career-heading span:nth-child(3){
	animation-delay: 6s;
	-ms-animation-delay: 6s;
	-webkit-animation-delay: 6s;
}
.animate-career-heading span:nth-child(4){
	animation-delay: 9s;
	-ms-animation-delay: 9s;
	-webkit-animation-delay: 9s;
}
.animate-career-heading span:nth-child(5){
	animation-delay: 12s;
	-ms-animation-delay: 12s;
	-webkit-animation-delay: 12s;
}

@-moz-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 1; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	20% { opacity: 0; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 1; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 1; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/* Animation Word Rotating End */



/* About Section */
#about {
  margin-bottom: 50px;
}

.about-heading {
  font-size: 3.5rem;
}

.about-img {
  padding-top: 90px;
  padding-left: 83px;
}

.btn-lg {
  border-radius: 30px;
  margin-right: 20px;
  float: left;
}

.about-bullet-container {
  text-align: left;
  padding-top: 20px;
}

.about-bullet {
  padding: 40px;
}

/* Works */
#works {
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 100px;
}

.works-heading {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.works-img {
  width: 420px;
  height: 420px;
}

/* Team */
#team {
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 100px;
}

.team-heading {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.team-img {
  width: 300px;
  height: 400px;
}

/* Bootstrap's Styles */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
