/* Entire Document */
body {
  color: #000000;
  font-family: Quicksand;
}

.head-font {
  color: #000000;
  font-family: Montserrat;
  font-weight: 700;
}

/* Header Bar Section */
.navbar-custom-color {
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0);
}

.navbar {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.navbar.scrolled {
  /* NON-IE */
  background: rgba(255, 255, 255, 1);
  transform: translateY(-27px);
}

.navbar-brand {
  padding-left: 35px;
  transition: 0.5s;
}

.navbar-brand:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.contact-info {
  font-size: .6rem;
  line-height: .5;
  position: absolute;
  right: 280px;
  text-align: right;
  top: 55px;
}

.contact-btn {
  background-color: #ffcd32;
}

.contact-btn:hover {
  background-color: #000000;
  color: #ffcd32;
}

.navbar-toggler {
  background-color: #ffffff;
  border: 3px solid #ffcd32;
}

.navbar-toggler:hover {
  background-color: #ffcd32;
  color: #ffffff;
}

#navbar-menus {
  border: 0;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

.nav-item a {
  color: #000000;
}

.home-a {
  margin-top: 134px;
}

.contact-a {
  margin-bottom: 134px;
}

/* Home Section */
.home-body {
  padding: 300px 10% 20% 10%;
}

.home-heading {
  font-size: 3.5rem;
}

.home-bullet {
  font-size: 2.5rem;
}

/* About Section */
#about {
  margin-bottom: 50px;
}

.about-heading {
  font-size: 3.5rem;
}

.about-img {
  padding-top: 90px;
  padding-left: 83px;
}

.btn-lg {
  border-radius: 30px;
  margin-right: 20px;
  float: left;
}

.about-bullet-container {
  text-align: left;
  padding-top: 20px;
}

.about-bullet {
  padding: 40px;
}

.about-bullet-heading {
  color: #000000;
}

.about-bullet-desc {
  color: #000000;
}

/* Works */
#works {
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 100px;
}

.works-heading {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.works-img {
  width: 420px;
  height: 420px;
}

/* Team */
#team {
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 100px;
}

.team-heading {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.team-img {
  width: 300px;
  height: 400px;
}

/* Bootstrap's Styles */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
